@use "./pallete";

.card {

  font-size: 180%;

  width: 5cm; height: 9cm;
  box-sizing: content-box;
  padding: 1cm; border-radius: 1cm;

  border: solid; 
  box-shadow: .5cm .5cm pallete.$adjective;
  margin: .5cm;

  &.tiny {

    font-size: 100%;

    width: 2.5cm; height: 4.5cm;
    padding: .5cm; border-radius: .5cm;

    border: solid; 
    box-shadow: .25cm .25cm pallete.$adjective;
    margin: .25cm;
  }
}